<!--this is the html in order to delete a cry for help-->

<body background=https://wallpapercave.com/wp/wp2836672.png></body>

<h3 style='color:ghostwhite;'>Has this message been recieved??</h3>

<h4 style='color:ghostwhite;'>{{st_cfh}}</h4>

<p>

</p>

<form method='POST'>
    <!--deletes the cry for help-->
    {% csrf_token %}
    <input type='submit' name='yes' value='yes'>
</form>

<form method='GET' action="{% url 'show_messages' st_cfh.astronaut.pk %}">
    <!--does not delete and redirects back to the cries page-->
    {% csrf_token %}
    <input type='submit' name='no' value='no'>
</form>