<!-- project/base.html-->

<html>
    <head>
        <title>ARTEMIS Directory</title>
    </head>
    <body background=https://www.nasa.gov/specials/artemis-accords/img/artemis-accords.jpg>
    <!--navigation links-->
    <header style='color:ghostwhite'>
        <a href="{% url 'all_astronauts' %}">All the Astronauts</a> |
        <a href="{% url 'crew' %}">All the Crews</a> |
        <a href="{% url 'create_active_astronaut' %}">Register an Astronaut</a> |
        <a href="{% url 'create_crew' %}">Register a Crew</a> |
    </header>
   
    {% block content %}
    {% endblock %}
    

    </body>
</html>