<!--this is the html for each crew page-->

{% extends 'final_project/base.html' %}

{% block content %}
<center>

<h1 style='color:ghostwhite'>{{crew.crew_name}}</h1><br>
<img src="{{crew.crew_image}}" style="max-width: 200;">
    
<p></p>

<h1 style='color:ghostwhite'>Astronauts included!</h1>
{% for astronaut in crew.get_all_astronauts %} <!--shows all the astronauts' image that are associated with the crew-->
<br><a href='{% url "astronaut_page" astronaut.pk %}'><img src="{{astronaut.image_url}}" style="max-width: 200;"></a>
<a href='{% url "astronaut_page" astronaut.pk %}'><h2 style='color:ghostwhite'>{{astronaut.name}}</h2></a>
{% endfor %}

<p></p>
<p></p>



<a href="{% url 'update_crew' crew.pk %}"><input type="button" value="Update this crew"></a>
<br>
<a href="{% url 'delete_crew' crew.pk %}"><input type="button" value="Delete this crew"></a>

</center>
{% endblock %}