<!--this is the html in order to delete a crew-->

<body background=https://www.nasa.gov/specials/artemis-accords/img/artemis-accords.jpg>

    <h1 style='color:ghostwhite'>Are you sure you would like to delete 
        this Crew?
    </h1>
    
    <h2 style='color: ghostwhite;'>{{crew.crew_name}}</h2><br>
    <img src="{{crew.crew_image}}" style="max-width: 200;">
    
    <p></p>
    
    <form method="POST">
        <!-- deletes the crew-->
        {% csrf_token %}
       <input type='submit' name="yes" value='yes'>
    </form>
    
    <form method="GET"action= "{% url 'crew_page' crew.pk %}"> 
        <!-- does not delete crew and takes u back to crew page-->
        {% csrf_token %}
       <input type='submit' name="no" value='no'>
    </form>
    
    </body>