<!-- this is the html in order to delete an astronaut-->

<body background=https://www.nasa.gov/specials/artemis-accords/img/artemis-accords.jpg>

    <h1 style='color:ghostwhite'>Are you sure you would like to delete 
        this Astronaut?
    </h1>
    
    <h2 style='color: ghostwhite;'>{{astronaut.name}}</h2><br>
    <img src="{{astronaut.image_url}}" style="max-width: 200;">
    <p></p>
    
    <form method="POST" >
        <!-- deletes the astronaut-->
        {% csrf_token %}
       <input type='submit' name="yes" value='yes'>
    </form>
    
    <form method="GET" action= "{% url 'astronaut_page' astronaut.pk %}">
        <!-- does not delete the astronaut and brings you to the astronaut page--> 
        {% csrf_token %}
       <input type='submit' name="no" value='no'>
    </form>
    
    
    </body>