<!--welcome page for Administrator Bridenstine-->

<html>
    <center>
    <body background=https://www.nasa.gov/specials/artemis-accords/img/artemis-accords.jpg>
    . 
    <p></p>
    .
    <p></p> 
    <p></p>
    .
    <p></p>
    <p></p> 
    <p></p>
    .
    <p></p>
    <p></p> 
    <p></p>
    <h1 style='color: ghostwhite; text-align: center;'>
        Welcome, Administrator Bridenstine!
    </h1>
    <h2 style='color: ghostwhite; text-align: center;'>
        Please select an option
    </h2>
    <table style='color: ghostwhite; text-align: center;'>
        <a href="{% url 'all_astronauts' %}"><input type="button" value='All Astronauts'></a> |

        <a href="{% url 'create_astronaut' %}"><input type="button" value='Register a New Astronaut'></a> |
 
    </table>
    </center>
</html>