<!-- this is the html in order to update a team-->


{% extends 'final_project/base.html' %}

{% block content %}

<h2 style='color:ghostwhite'>Update this Crew!</h2>

<form method='POST'>
    {% csrf_token %}

    <table>
        {% for field in form %} <!-- display field and field name that can be updated by the team-->

        <tr>
            <th style='color:ghostwhite'>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td>
                <input type='submit' name='Update Crew' value="Update Crew!">
            </td>

        </tr>
    </table>
</form>
{% endblock %}