{% extends 'mini_fb/base.html' %}
{% block content %}
<h1 style = 'color: darkgoldenrod; background-color: darkblue;'>Profiles</h1>

<table>
    <colgroup>
        <col span = "1" style = "width: 40%;">
        <col span = "1" style = "width: 30%;">
        <col span = "1" style = "width: 45%;">
    </colgroup>
    <tr>
        <td>Name</td> 
        <td>City</td>
        <td>Profile picture</td>
    </tr>
    {% for prof in show_all_profiles %}
    <tr>
        <td><a href = "{% url 'show_profile_page' prof.pk %}">{{prof.first_name}} {{prof.last_name}}</a></td>
        <td>{{prof.city}}</td>
        <td><img src = "{{prof.prof_img}}" style = "max-width: 400; max-height: 500;"></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}